# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environment
.env
.venv/
venv/
env/
*.env

# Jupyter/IPython
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Ignore model
embeddings/

# Embeddings / vector DBs
chroma_db/
*.parquet
*.bin

# Datasets
fine_tuning_data/
scraped_data/

# Generated artifacts
*.jsonl
*.sqlite
