bs4==0.0.2
dotenv==0.9.9
fastapi==0.118.2
langchain==0.3.27
langchain-community==0.3.30
langchain-core==0.3.79
markdown2==2.5.4
numpy==2.3.3
pdfplumber==0.11.7
psycopg2-binary==2.9.10
pydantic[email]==2.12.0
pydantic-settings==2.11.0
redis==6.4.0
requests==2.32.5
sentence-transformers==5.1.1
langchain-openai==0.3.35
uvicorn==0.37.0
tiktoken==0.12.0

